* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.6;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;

}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.3;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

input, textarea {
	background-color: #F6F6F6;
	font-family: 'Open Sans';
}
input::placeholder, 
textarea::placeholder {
	color: #9F9F9F;
}

a {
	color: inherit;
	text-decoration: none;
}

.def-btn {
	text-align: center;
}

.def-btn a,
.def-btn button {
	background-color: #25428E;
	color: #fff;
	padding: 12px 60px;
	display: inline-block;
	border-radius: 5px;
	transition: background-color 0.35s ease;
	cursor: pointer;
	border: none;
}

.def-btn a:hover,
.def-btn button:hover {
	background-color: #1f3776;
}

.title-center {
	font-size: 46px;
	font-weight: 300;
	text-align: center;
}

.title-center::after {
	content: '';
	width: 40px;
	height: 1px;
	background-color: #fff;
	display: block;
	margin: 15px auto 0 auto;
} 

.form-left h2 {
	font-size: 42px;
	font-weight: 700;
	position: relative;
}

.form-left h2::before {
	content: '';
	height: 1px;
	width: 100%;
	background-color: #E73D6B;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: calc(-100% - 20px);

}

.form-left .title-desc {
	color: #969696;
	margin-bottom: 60px;
}

/* header */
.site-header {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #B5B5B5;
	padding: 5px 0;
}

.menu ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 35px;
}

.menu ul a {
	transition: color 0.35s ease;
}

.menu ul a:hover {
	color: #25428E;
}

/* banner */

.s-banner {
	background: var(--gradient-1, linear-gradient(130deg, #EA3B65 0%, rgba(144, 53, 199, 0.64) 100%));
	padding-top: 130px;
	color: #fff;
	text-align: center;

}

.banner-wrap {
	max-width: 545px;
	margin: 0 auto;
}

.banner-title {
	font-size: 54px;
	font-weight: 300;
}

.banner-desc {
	max-width: 440px;
	margin: 0 auto 24px auto;
	color: #D2D0D0;
}

.banner-btn {
	margin-bottom: 90px;
}

.banner-img img{
	max-width: 492px;
	width: 100%;
	margin: 0 auto;
	display: block;	
}

/* s-features */

.s-featurers {
	padding: 85px 0;
}

.features-wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.features-item {
	text-align: center;
	padding: 60px 0;
}

.features-item:nth-child(2n+1) {
	border-right: 1px solid #D9D9D9;
}

.features-item:nth-last-child(n+3) {
	border-bottom: 1px solid #D9D9D9;
}

.features-icon {
	margin-bottom: 10px;
}

.fuaters-title {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 14px;
}

.fuaters-desc {
	max-width: 282px;
	color: #B4B3B3;
	margin: 0 auto;
}

/* pricing */

.s-pricing {
	padding: 85px 0;
	background: var(--gradient-1, linear-gradient(130deg, #EA3B65 0%, rgba(144, 53, 199, 0.64) 100%));
	color: #fff;
}

.pricing-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.pricing-item {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 11px 0px rgba(43, 40, 40, 0.07);
	padding: 50px 30px;
	color: #565050;
	text-align: center;
	width: 33%;
	height: 100%;
}

.pricing-tariff {
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 12px;
}

.pricing-price {
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #EA3B65;
}

.pricing-item ul {
	text-align: left;
	padding-left: 10px;
	line-height: 1.7;
	font-weight: 300;
	margin-bottom: 25px;
}

.pricing-price ul li:nth-last-child(n+2) {
	margin-bottom: 10px;
}

.pricing-btn {
	text-align: center;
}

.pricing-btn a {
	border: 2px solid #25428E;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 40px;
	transition: 0.35s ease;

}

.pricing-btn a:hover {
	background-color: #25428E;
	color: #fff;
}

.pricing-item:nth-child(2) {
	background-color: #25428E;
	color: #fff;
}

.pricing-item:nth-child(2) .pricing-price {
	color: #fff;
}

.pricing-item:nth-child(2) .pricing-btn a {
	background-color: #fff;
	color: #25428E;
}

.pricing-item:nth-child(2) .pricing-btn a:hover {
	background-color: #25428E;
	color: #fff;
	border-color: #fff;
}

/* feedback */

.s-form {
	padding: 90px;
}

.s-form .title-desc {
	max-width: 470px;
}

.form-row {
	display: flex;

}

.form-left {
	max-width: 580px;
	margin-right: 55px;
}

.form-image img {
	width: 100%;
}

.form-right {
	max-width: 450px;
	width: 100%;
}

.form-right form {
	background-color: #fff;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px -1px 8px 4px rgba(88, 83, 83, 0.12);
	padding: 60px 45px;
	overflow: hidden;
	position: relative;
}

.form-right form::before {
	content: '';
	height: 10px;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #25428E;
	display: block;
	position: absolute;
}

.form-right input,
.form-right textarea {
	display: block;
	padding: 20px 25px;
	border: none;
	width: 100%;
	margin-bottom: 25px;
	outline: none;
}

.form-right .def-btn button {
	font-size: 16px;
	padding: 12px 70px;
}

/* footer */

.site-footer {
	background-color: #2B2626;
	padding: 30px 0;
	text-align: center;
	color: #D9D8D8;
}

/* responsive */

@media screen and (min-width: 575px) {
	.hamburger,
	.menu-elements {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	/* pricing */
	.pricing-wrap {
		display: block;
	}

	.pricing-item {
		width: 100%;
	}

	.pricing-item:nth-last-child(n+2) {
		margin-bottom: 25px;
	}

	.pricing-item ul {
		max-width: 250px;
		margin: 0 auto 25px auto;
	}

	/* form */
	.form-row {
		display: block;
	}

	.form-left {
		margin-right: 0;
		max-width: none;
		margin-bottom: 30px;
	}

	.form-right {
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {

	.s-featurers {
		padding: 50px 0;
	}

	.features-wrap {
		grid-template-columns: 1fr;
	}

	.features-item:nth-child(2n+1) {
		border-right: none;
	}

	.features-item:nth-last-child(n+2){
		border-bottom: 1px solid #d9d9d9;
	}
}

@media screen and (max-width: 575px) {
	
	/* header 575 */
	.logo img {
		max-width: 110px;
	}
	.menu {
		position: fixed;
		background-color: #E73D6B;
		right: 0;
		top: 0;
		padding: 10px;
		box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.25);
		width: 148px;
		text-align: center;
		transition: 0.35s ease;
		transform: translateX(110%);
	}

	.menu.is-active {
		transform: none;
	}
	
	.menu ul {
		display: block;
	}

	.menu ul li:nth-last-child(n+2) {
		margin-bottom: 12px;
	}

	.header-row {
		padding: 10px 0;
	}	

	.menu-elements{
		display: flex;
		align-items: center;
		justify-content: space-between;	
		border-bottom: 1px solid rgba(200, 200, 200, 0.66);
		padding-bottom: 5px;
	}

	/* banner 575 */

	.banner-title {
		font-size: 28px;
	}

	.banner-desc {
		font-size: 14px;
	}

	.def-btn a {
		font-size: 14px;
	}

	/* features 575 */
	.features-icon img {
		max-width: 64px;
	}

	.fuaters-title {
		font-size: 18px;
	}

	.fuaters-desc {
		font-size: 14px;
	}

	/* pricing */

	.pricing-tariff {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.pricing-price {
		font-size: 38px;
	}

	.pricing-item ul {
		font-size: 14px;
	}

	/* form */
	.form-right form {
		padding: 60px 30px;
	}

}